h1 {
    color: azure;
    font-family: "Sniglet", system-ui;
}

body {
    background-color: rgb(255, 157, 92);
    font-family: "Sniglet", system-ui;
}

p {
    color: azure;
    font-family: "Sniglet", system-ui;
}